.stripContainer {
  position: relative;
  overflow: hidden;
  width: 100%;
  background: #2e2e2e;
  transform: skewY(-3deg);
  top: -19px;
}

.strip {
  display: flex;
  gap: 80px;
  padding: 10px;
  animation: scroll-left 20s linear infinite;
  width: max-content;
}

.word {
  font-size: 24px;
  font-weight: bold;
  white-space: nowrap;
  color: white; /* All words are now white */
}

@keyframes scroll-left {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}